div.reservation table { font-size: 0.9em;border-collapse: separate !important; border-spacing: 2px !important; margin-bottom: 0.5em; width: 100%}
div.reservation table tr td { text-align: center !important; background: #e0dfdb !important;padding: 1px 3px;}
div.reservation table tr th.small { width:10%; }
div.reservation table tr th.big { width:20%; }
div.reservation table a.red {color:red;}
div.reservation table tr td a #smaz { }


