/* Basic jQuery Slider essential styles */

ul.bjqs{position:relative; list-style:none;padding:0;margin:0;overflow:hidden; display:none;}
li.bjqs-slide{position:absolute; display:none;}
ul.bjqs-controls{list-style:none;margin:0;padding:0;z-index:9999;}
ul.bjqs-controls.v-centered li a{position:absolute;}

ul.bjqs-controls.v-centered li.bjqs-next a{
right:0; 
background: url(../img/blue-next.png); 
width: 54px; 
height: 72px;
position: absolute;
left: 850px;
z-index: 200000;
}

ul.bjqs-controls.v-centered li.bjqs-prev a{
left:0; 
background: url(../img/blue-prev.png); 
width: 54px; 
height: 72px; 
position: absolute;
margin-left: -54px;
}
ol.bjqs-markers{list-style: none; padding: 0; margin: 0; width:100%; }
ol.bjqs-markers.h-centered{text-align: center;}
ol.bjqs-markers li{display:inline;}
ol.bjqs-markers li a{display:inline-block;}
p.bjqs-caption{display:block;width:96%;margin:0;padding:2%;position:absolute;bottom:0;}

.gallery-detail{
margin-left: 40px;

}