.jcarousel-skin-tango .jcarousel-container {

}

.jcarousel-skin-tango .jcarousel-direction-rtl {
	direction: rtl;
}

.jcarousel-skin-tango .jcarousel-container-horizontal {
    width: 820px;
}



.jcarousel-skin-tango .jcarousel-clip {
    overflow: hidden;
}

.jcarousel-skin-tango .jcarousel-clip-horizontal {
    width:  694px;
    height: 200px;
}


.jcarousel-skin-tango .jcarousel-item {
    width: 214px;
    height: 177px;
}

.jcarousel-skin-tango .jcarousel-item img {
border: 5px solid white;
box-shadow: 0px 2px 2px #888888;
}

.jcarousel-skin-tango .jcarousel-item-horizontal {
	margin-left: 0;
    margin-right: 30px;
}

.jcarousel-skin-tango .jcarousel-direction-rtl .jcarousel-item-horizontal {
	margin-left: 10px;
    margin-right: 0;
}


.jcarousel-skin-tango .jcarousel-item-placeholder {
    background: #fff;
    color: #000;
}

/**
 *  Horizontal Buttons
 */
.jcarousel-skin-tango .jcarousel-next-horizontal {
    position: absolute;
   bottom: 70px;
right: 80px;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background: transparent url(../img/next.png) no-repeat 0 0;
}

.jcarousel-skin-tango .jcarousel-direction-rtl .jcarousel-next-horizontal {
    left: 5px;
    right: auto;
    background-image: url(../img/prev.png);
}

.jcarousel-skin-tango .jcarousel-next-horizontal:hover,
.jcarousel-skin-tango .jcarousel-next-horizontal:focus {
    background: transparent url(../img/next.png) no-repeat 0 0;
}

.jcarousel-skin-tango .jcarousel-next-horizontal:active {
    background-image: url(../img/next.png);
}

.jcarousel-skin-tango .jcarousel-next-disabled-horizontal,
.jcarousel-skin-tango .jcarousel-next-disabled-horizontal:hover,
.jcarousel-skin-tango .jcarousel-next-disabled-horizontal:focus,
.jcarousel-skin-tango .jcarousel-next-disabled-horizontal:active {
    cursor: default;
    background-position: -96px 0;
}
.jcarousel-skin-tango{
z-index: 0;
max-height: 150px;    
} 

.jcarousel-skin-tango .jcarousel-prev-horizontal {
    position: absolute;
    bottom: 70px;
    left: -35px;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background: transparent url(../img/prev.png) no-repeat 0 0;
    z-index: 1000;
}

.jcarousel-skin-tango .jcarousel-direction-rtl .jcarousel-prev-horizontal {

    background-image: url(../img/prev.png); 
}

.jcarousel-skin-tango .jcarousel-prev-horizontal:hover, 
.jcarousel-skin-tango .jcarousel-prev-horizontal:focus {
     background-image: url(../img/prev.png);
}

.jcarousel-skin-tango .jcarousel-prev-horizontal:active {
   background-image: url(../img/prev.png); 
}

.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal,
.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal:hover,
.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal:focus,
.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal:active {
      
}