html, body { 
	margin: 0; padding: 0;
	min-width: 100%; min-height: 100%;
}
body { 
	background-image: url(../img/bg/bg-site.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
    font-family: 'Open Sans', sans-serif;
	font-size: 14px;
}



/* headings */
h1, h2, h3 { margin: 0 0 10px 0; font-weight: 600; color: #ff0000; text-transform: uppercase; }
h1 { font-size: 36px; }
h2 { font-size: 20px; }
h3 { font-size: 16px; }
/* links */
a { text-decoration: none; color: #05438f; }

/* text */
p { color: #1a171b; line-height: 28px;}

/* lists */
ul { padding-left: 20px; }
ul li { list-style-image: url(../img/bullet/circle-red.png); color: #1a171b; }
.inline { margin: 0; padding: 0; /* overflow: hidden;  */}
.inline li { display: block; float: left;  }

/* tables */
table { width: ; }
table tr td { padding: 4px; color: #ff1602; }

/* rounded corners */
.rounded {
	-moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    -khtml-border-radius: 7px;
    border-radius: 7px;
}
.rounded-top { 
	-moz-border-radius: 7px 7px 0 0;
    -webkit-border-radius: 7px 7px 0 0;
    -khtml-border-radius: 7px 7px 0 0;
    border-radius: 7px 7px 0 0;	
}
.rounded-right { 
	-moz-border-radius: 0 7px 7px 0;
    -webkit-border-radius: 0 7px 7px 0;
    -khtml-border-radius: 0 7px 7px 0;
    border-radius: 0 7px 7px 0;	
}
.rounded-left { 
	-moz-border-radius: 7px 0 0 7px;
    -webkit-border-radius: 7px 0 0 7px;
    -khtml-border-radius: 7px 0 0 7px;
    border-radius: 7px 0 0 7px;	
}

/* shadows */
.shadow {
	-moz-box-shadow: 0px 2px 3px 1px #999;
	-webkit-box-shadow: 0px 2px 3px 1px #999;
	box-shadow: 0px 2px 3px 1px #999;
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=90, Color='#999999')";
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=90, Color='#999999');
}

/* buttons */
.button {
	display: inline-block;
	padding: 6px 24px 6px 16px;
	min-width: 70px;
    color: #fff;
    font-size: 15px;
    line-height: 20px;
    background: #ff0000;
    background-image: url(../img/arrow/right-white.png);
    background-image: url(../img/arrow/right-white.png), linear-gradient(#ff5353, #ff0000);
    background-repeat: no-repeat;
    background-position: 93% 50%;    
   
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
    
    -moz-box-shadow: 0px 2px 3px 1px #999;
	-webkit-box-shadow: 0px 2px 3px 1px #999;
	box-shadow: 0px 2px 3px 1px #999;
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#444444')";
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#444444');
}

.button-pujcovna {
    display: inline-block;
    padding: 20px 30px 20px 20px;
    margin-left: 250px;
    margin-bottom: 20px;
    min-width: 70px;
    color: #fff;
    font-size: 17px;
    line-height: 20px;
    background: #ff0000;
    background-image: url(../img/arrow/right-white.png);
    background-image: url(../img/arrow/right-white.png), linear-gradient(#ff5353, #ff0000);
    background-repeat: no-repeat;
    background-position: 93% 50%;    
   
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
    
    -moz-box-shadow: 0px 2px 3px 1px #999;
    -webkit-box-shadow: 0px 2px 3px 1px #999;
    box-shadow: 0px 2px 3px 1px #999;
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#444444')";
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#444444');
}

/* shadows */
.shadow-article-top { width: 100%; min-height: 10px; background: url(../img/shadow/shadow-article-top.jpg) repeat-x left top; }
.shadow-corner-right { margin-bottom: 0px; width: 100%; min-height: 40px; background: url(../img/shadow/shadow-corner-right.png) no-repeat center top; }
.shadow-corner-right-small { margin-bottom: 0px; width: 100%; min-height: 33px; background: url(../img/shadow/shadow-corner-right-small.png) no-repeat center top; }
.shadow-corner-both { margin-bottom: 0px; width: 100%; min-height: 40px; background: url(../img/shadow/shadow-corner-both.png) no-repeat center top; }

/* site header */
.site-header { margin: 10px 0 0 0; }
.site-header .logo { 
margin-bottom: 43px;
display: block; width: 372px; min-height: 81px; text-indent: -9999px; background: url(../img/logo-header.png) no-repeat left center; }
.site-header .partners { position: relative; min-height: 44px;}
.site-header .partners img { display: block; position: absolute; left: 0; bottom: 0; width: 100%; height: auto; }
    /* language */
.site-header #language {
    position: relative;
    margin-left: 93%;
    width: 80px;
    margin-top: -10px;
}

.site-header #language a {
    display: inline-block;
    padding: 0 !important;
}

.site-header #language img {
    margin: 0!important;
    padding: 0!important;
}

.site-header #language a:last-child {
    margin-left: 5px
}
/* menu */
.site-header nav.site-nav { 
position: absolute;
top: 111px;
width: 970px;
background: #ff0000;
height: 40px; 
}
.site-header nav.site-nav .inline { padding: 0 20px; }
.site-header nav.site-nav a { display: block; color: #ffffff; padding: 15px 8px 8px 8px; }
.site-header nav.site-nav a.active { font-weight: bold; color: #ffffff; border-bottom: 3px solid #b23232; text-decoration: underline;}
.site-header nav.site-nav a:hover { text-decoration: underline; }


/* site content */
.site-content { margin-top: 17px; padding-bottom: 20px; background: #fdfdfd; }

/* page content */
.page-content { position: relative; margin: 0; padding: 10px 20px; }
.page-content .left { padding: 8px; }
.page-content .right { padding: 8px 0 0 20px; }
.page-content ul li { line-height: 24px; }

/* slider */
.slider { width: 96%; margin: 0 auto; }
.slider ul { margin: 0; padding: 0; list-style: none; }
.slider ul li { list-style: none; }
.slider .slide img { width: 100%; height: auto; }
.slider-contact { position: relative; }
.slide-text span { display: inline-block; font-size: 30px; font-weight: 600; color: #ffffff; padding: 20px 0 20px 20px; }
.slide-text p { font-size: 16px; font-size: 100; color: #ffffff; margin-top: 0; padding: 0 0 0 20px; }
.slide .more { position: relative; top: 10px; left: 20px; }
.slide table { width: 100%; font-size: 18px; color: #ffffff; margin: 0 0 0 16px; }
.slide table a { color: #ffffff; text-decoration: none; }
.slide table td { color: #ffffff;}
.slide-text { position: absolute; top: 40px; right: 0; width: 390px; border-top-left-radius: 5px; border-bottom-left-radius: 5px;
 background: rgba(69, 74, 75, 0.9); }
.slide-price { position: absolute; left: 20px; bottom: 15px; font-size: 36px; font-weight: 600; color: #ffffff;}

/* gallery */
.gallery-widget { padding: 0 20px 20px 20px; }
.gallery-widget .item { float: left; margin-bottom: 10px; width: 48%; }
.gallery-widget .item:nth-child(odd) { margin-right: 4%; }
.gallery-widget .item a { display: block; }
/*.gallery-widget .item img {width: 60%; min-height: 140px; margin: 0 20% 10px 20%;}*/
.gallery-widget .item img {
    width: 100%;
    min-height: 140px;
    margin: 10px 2% 10px 1%;
}

/* tariff */
.tariff { padding: 0 20px 20px 20px; }
.tariff .item { margin-left: 2%; width: 48.5%; float: left; background: #e0dfdb; }
.tariff .item:first-child { margin-left: 0; }
.tariff .item header { padding: 5px 10px; color: #fff; font-weight: bold; text-align: center; text-transform: uppercase; background: #05438f; }
.tariff .item p { margin: 0; padding: 5px 10px; color: #05438f; font-size: 12px; text-align: center; }
.tariff .item p:nth-last-child(2) {font-weight: bold}
.tariff .item  { padding: 0px 0px; background: #ffdd00; }
.tariff .item p { font-size: 18px; margin-top: 10px;}
.tariff .item p .smaller { font-size: 14px; }
.tariff .summer { margin-left: 0px}
.tariff .summer .item { width: 100%; background-color: greenyellow}
.tariff .surcharge { margin-top: 20px; padding-top: 20px; font-size: 12px; }
.tariff .surcharge table { width: 50%; font-size: 13px}

/* reservation */
.reservation table { border-collapse: separate; border-spacing: 2px; font-size: 0.7em; float: left; margin-right: 20px; }
.reservation table tr td { text-align: center; background: #e0dfdb; }
.reservation table tr td.reserved { background: #ffdd00; }
.reservation .controls .prev,
.reservation .controls .next { display: inline-block; padding: 4px 8px; font-size: 11px; color: #e0dfdb;  /*text-indent: -9999px;*/ }
.reservation .controls .prev { padding-left: 32px; background: #05438f url(../img/arrow/left-yellow.png) no-repeat left center; }
.reservation .controls .next { padding-right: 32px; background: #05438f url(../img/arrow/right-yellow.png) no-repeat right center; }
.reservation .controls .prev:hover,
.reservation .controls .next:hover { background-color: #ffdd00; color: #05438f; }
.legend { padding: 8px; }
.legend table { border-collapse: separate; border-spacing: 2px;  }
/*.legend .reserved { width: 30px; height: 30px; background: #ffdd00; }
.legend .free { width: 30px; height: 30px; background: #e0dfdb; }
*/

.legend .reserved { width: 25px; height: 0px; background: #E81F12; }
.legend .free { width: 0px; height: 0px; background: #D7D7D7; }

/* winter */
.trackplans-widget { padding: 0 20px 20px 20px; }
.trackplans-widget img { max-width: 100%; }
.trackplans-widget .item { margin-bottom: 10px; margin-left: 2%; float: left; width: 32%; }
.trackplans-widget .item:first-child { margin-left: 0; }
.trackplans-widget .item img { width: 100%; height: auto; }
.trackplans-widget .item.last { background: #ffdd00; }
.triptips { padding: 0 20px 20px 20px; }

/* summer */
.special-offer { display: block; width: 293px; height: 90px; background: url(../img/special-offer.png) no-repeat left top; text-indent: -9999px; }
.map-dl { display: block; float: right; width: 194px; height: 61px; background: url(../img/map-download.png) no-repeat left top; text-indent: -9999px; }

/* contacts */
.gmap { width: 100%; min-height: 300px; }

/* gallery */
.gallery .item { float: left; margin-bottom: 10px; width: 49%; }
.gallery .item:nth-child(odd) { margin-right: 2%; }
.gallery .item a { display: block; }
.gallery .item img { width: 100%; margin: 0 1.5%; }
.gallery .item h2 { text-align: center; margin-top: 10px; }
.gallery .shadow-corner-right-small {width: 100%; margin-left: 1.3%;}

/* site footer */
.site-footer { min-height: 75px; margin-top: 150px; padding: 20px 0; background: rgba(2, 2, 2, 0.8); }
.site-footer .logo { 
min-height: 47px; text-indent: -9999px; background: url(../img/logo-footer.png) no-repeat left center;
margin-top: -7px;
 }
.site-footer .contacts { font-weight: bold; color: #fff; text-align: right; margin-top: 7px; }
.site-footer .contacts span { padding: 5px 20px 0 20px; }

/* dgs footer */
.dgs-footer { padding: 10px; background: #ff0000; }
.dgs-footer .logo { background: url(../img/dgs-logo.png) no-repeat right center; }
.dgs-footer p { margin: 0; color: #ffffff; font-size: 10px; }
.dgs-footer p a { color: #ffffff; text-decoration: underline; }
.dgs-footer p a:hover { color: #ffffff; text-decoration: none; }

.google-map {
position: relative;
width: 650px;
clear: both;
margin-top: 20px;
padding-bottom: 0px;
background: #79c025;
border: 1px solid #79c025;
color: white;
}

.google-map label {
padding: 0;
font-weight: bold;
color: white;
display: inline;
margin: 10px 0 0 10px;
padding: 0;
float: left;
width: 150px;
font-size: 12px;
}

.google-map .input-text {
margin: 8px 0 10px 17px;
padding: 2px 4px 3px 4px;
width: 345px;
border: 1px solid #DBDBDB;
float: left;
}

.google-map .input-button {
margin: 8px 8px 0 12px;
border: 0;
background: #5c8e00;
color: white;
height: 23px;
width: 86px;
cursor: pointer;
float: right;
}

.google-map .bot {
padding: 0;
width: 650px;
overflow: hidden;
background: #79c025;
margin: 10px 0 0 0;
}

.map_kontakty {
width: 650px;
height: 294px;
border-top: 1px solid #79c025;
border-bottom: 1px solid #79c025;
}

.google-map td a {color:#79c025;}
.google-map .input-text {
margin: 8px 0 10px 17px;
padding: 2px 4px 3px 4px;
width: 345px;
border: 1px solid #DBDBDB;
float: left;
}

.clear {
clear: both;
}

.img-skiamande {
/*float: right;
margin-top: -25px;
margin-right: 20px;*/
}

.img-hauser {
/*float: right;
margin-top: -25px;
margin-right: 10px;*/
}

.reservation .odsadit {
background: white url() ;
width: 3px;
}


@media (max-width: 975px) {
    .site-header .logo {margin-left: 10px;}
    .site-header nav.site-nav {width: 100%; max-width: 970px; height: auto;}
    .site-header nav.site-nav a {border-bottom: 3px solid transparent;}
    .site-header #language {width: 57px; margin-left: 67%;}
    .site-content {padding-top: 40px;}
    .page-content .left {width: 100%; text-align: center;}
    .page-content .right {width: 100%; text-align: center;}
    .page-content ul li {text-align: left;}
    .gallery-widget .item {overflow: hidden;}
    .tariff .item {width: 100%;}
    .tariff .winter {width: 100%;}
    .tariff .summer {width: 100%; padding-left: 0;}
    .gallery-detail {width: 75%;}
    .google-map {width: 100% !important; overflow: auto;}
    .rezervace-responsive-box {width: 100%; overflow: auto;}
    .full-width-img {width: 100% !important; height: auto !important;}
    ul.bjqs-controls.v-centered li.bjqs-next a {right: none !important; left: 100% !important;}
    #wf-weatherfeed {width: 100% !important; overflow: auto;}
}

@media (max-width: 780px) {
    .site-content {padding-top: 62px;}
}

@media screen and (max-width: 768px ) {
	
	.site-header .logo { width: 190px; min-height: 41px; background: url(../img/logo-header-smaller.png) no-repeat left center; }
	.site-header .partners { min-height: 30px; }
	.site-header nav.site-nav a { font-size: 12px; }
    .site-content { padding-top: 76px; }
	
}

@media (max-width: 696px) {
    .site-footer {padding: 20px 0 55px 0;}
    .site-footer .logo {display: none;}
    .site-footer .contacts {width: 100%; text-align: center;}
    .site-footer .contacts span {padding: 0;}
    .dgs-footer .logo {background-image: none;}
    .dgs-footer p {text-align: center;}
}

@media (max-width: 640px) {
    .gallery .item {width: 100%;}
}

@media (max-width: 488px) {
   .site-header nav.site-nav {height: 93px; left: 0;}
   .site-content {padding-top: 93px;} 
}

@media (max-width: 482px) {
    .site-header .partners { display: none;}
}


.google-map {
position: relative;
width: 650px;
clear: both;
margin-top: 20px;
padding-bottom: 0px;
background: #05438f;
border: 1px solid #05438f;
color: white;
}

.google-map label {
padding: 0;
font-weight: bold;
color: white;
display: inline;
margin: 10px 0 0 10px;
padding: 0;
float: left;
width: 150px;
font-size: 12px;
}

.google-map .input-text {
margin: 8px 0 10px 17px;
padding: 2px 4px 3px 4px;
width: 345px;
border: 1px solid #DBDBDB;
float: left;
}

.google-map .input-button {
margin: 8px 8px 0 12px;
border: 0;
background: rgb(0,0,102);
color: white;
height: 23px;                                       
width: 86px;
cursor: pointer;
float: right;
}

.google-map .bot {
padding: 0;
width: 650px;
overflow: hidden;
background: #05438f;
margin: 10px 0 0 0;
}

.map_kontakty {
width: 650px;
height: 294px;
border-top: 1px solid #05438f;
border-bottom: 1px solid #05438f;
}

.google-map td a {color:#05438f;}
.google-map .input-text {
margin: 8px 0 10px 17px;
padding: 2px 4px 3px 4px;
width: 345px;
border: 1px solid #DBDBDB;
float: left;
}

.google-map table td {
    color: white;
}

.google-map table.adp-placemark td {
    color: black !important
}

.display-none, .hide {
display: none;
}

.map_search {
margin: 0 !important;
padding: 0 !important;
}



.dopo {
height: 18px;
width: 18px;
background: url(../img/zluta_nahore.png);
}

.odpo {
height: 18px;
width: 18px;
background: url(../img/zluta_dole.png);
margin-top: -18px;
}
.odpo.alone {
    margin-top: 0;
}

.dopo.reserved {

background: url(../img/modra_nahore.png) !important;
}

.odpo.reserved {

background: url(../img/modra_dole.png)!important;
}

table.rezervace tr td {
 padding-left: 2px;
color: #ff1602;
padding-bottom: 10px;
padding-top: 0px;
padding-right: 0px;
}

.legend .reserved {
width: 25px;
height: 0px;
background: #E81F12;
}

.legend .free {
width: 0px;
height: 0px;

background: #D7D7D7);
}

.legend {
margin-bottom: 20px;
}

.submenu .first {
background: url(../img/submenu-top.png) no-repeat;
width: 145px;
height: 42px;
}

.submenu .normal {
background: url(../img/submenu-middle.png) no-repeat;
width: 145px;
height: 34px;
}

.submenu .last {
background: url(../img/submenu-bottom.png) no-repeat;
width: 145px;
height: 33px;
}

.detail-submenu {
    width: 100%;
    height: auto;
    list-style-type: none;
    border-radius: 7px;
    border: 1px solid #d3cfcc;
    background: #ffffff;
    margin: 0 0 20px 0;
    padding: 0;
}

.detail-submenu li {
    display: block;
    font-size: 16px;
    font-weight: 600;
    background: url(../img/detail-submenu-arrow.png) 90% 50% no-repeat;
}

.detail-submenu li:hover {
    background: #ff0000 url(../img/detail-submenu-arrow-hover.png) 90% 50% no-repeat;
}

.detail-submenu a {
    display: inline-block;
    width: 100%;
    color: #3d3c3c;
    text-decoration: none;
    background: url(../img/detail-submenu-break.png) 50% 100% no-repeat;
    padding: 15px 25px;
}

.detail-submenu a:hover {
    background: none;
}

#OverlayMessage, #Overlay{width:100%; height:1000em; top:0; left:0; position: absolute; background: rgba(0, 0, 0, 0.7); z-index: 1000;}
#Overlay{display: none;}

#OverlayMessage .content-msg{width: 370px;  font-size : 18px; line-height: 1.5; font-weight : normal;  background-color: #fff; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px;}
#OverlayMessage .content_IN{padding: 30px 30px 70px 30px; position: relative;}
#OverlayMessage .button{display: block;  position: absolute; bottom: 25px; left: 140px;  width: 94px; height: 27px;}

#sold-hire-form-box select { width: 95%; border: 0; margin-bottom: 10px; padding: 5px; }

.ui-datepicker {font-size:64%; }

.modal-window {
    margin: 20px 0;
}

.modal-reservation {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.8);
    z-index: 99999;
    opacity:0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}

.modal-reservation:target {
    opacity:1;
    pointer-events: auto;
}

.modal-reservation > div {
    width: 90%;
    max-width: 700px;
    position: relative;
    margin: 10% auto;
    padding: 5px 20px 13px 5px;
    border-radius: 4px;
    background: #fff;
}

.modal-reservation h2 {
        font-size: 16px;
        text-transform: none;
        color: #ffffff;
        border-radius: 5px;
        background: #ff0000;
        margin: 5px;
        padding: 7px 10px;
    }

.car-price {
    display: inline-block;
    font-size: 18px;
    font-weight: 600;
    padding-top: 2px;
    float: right;
}

.modal-reservation form {
        padding: 4%;
}

.modal-reservation label {
    display: inline-block;
    width: 150px;
    font-size: 16px;
    color: #ff0000;
}

.modal-reservation input[type="text"], .modal-reservation input[type="phone"], .modal-reservation input[type="email"], select {
        width: 40%;
        height: 40px;
        font-size: 16px;
        color: #171717;
        border-radius: 4px;
        border: none;
        border: 1px solid #e9e9e9;
        background: #ffffff;
        margin-bottom: 10px;
        padding: 2px;
}

.modal-reservation select {
    height: 30px;
}

.modal-reservation input[type="submit"], .modal-reservation button[type="reset"]{
        font-size: 16px;
        font-weight: bold;
        text-transform: uppercase;
        color: #ffffff;
        border: none;
        background: #ff0000;
        cursor: pointer;
        margin-top: 40px;
        padding: 10px;
}

.modal-reservation__close {
    position: absolute;
    top: 20px;
    right: 30px;
    width: 15px;
    height: 15px;
    font-size: 12px;
    text-align: center; 
    text-decoration: none;
    line-height: 15px;
    color: #FFFFFF;
    border-radius: 4px;
    background: #990c0c;    
}

.modal-reservation__close {
    background: #990c0c;
}

/* dg footer */
.dg-footer { min-height: 50px; margin-top: 0px; /*padding: 20px 0;*/ background: rgba(2, 2, 2, 0.8);color:white;}
.footer-left {max-width:600px;float:left;}
.footer-right {max-width:200px;float:right;}
.footer-right span a img {margin: -10px 0 0 10px; }

.left.fg12 p img {float:left;}
.reservation-button2 {float:right; margin:150px 100px 0 0;}
@media (max-width: 780px) {
    .reservation-button2 {margin:30px auto; float:none;}
}

.detail-submenu li a.active {
	background-color: red;
}
