{* sablona pro detail novinky) *}


   <div id="content-novinky-detail">
   
    <div id="novinky-detail-left">
      
      <h1>Novinky</h1>        

    </div> 
        
    <div id="novinky-detail-right">
  
     <div class="novinky-detail-obr">        
      {if isset($item.photo) && $item.photo}
      
      <img src="{$item.photo}" width="461" height="294" alt="{$item.nazev}" />
      {/if}
              
     </div>       
        
     <div class="novinky-detail-text"> 
      <h2>{$item.nadpis}</h2> 
      <br />
      {$item.popis}
      {*
      <p><span>Hmotnost:</span> 50 g</p>
      <p><span>Číslo výrobku:</span>0203</p>
      <br /> 
      <h3>NYNÍ ZAVÁDĚCÍ CENA XX Kč.</h3>  

      <br />
        *}
 
 
 
 
        
 
      <div class="novinky-detail-vse"> 
      <a href="{$url_base}novinky" title="novinky"><span>Zpět na seznam novinek</span><img src="{$media_path}img/sipka.png" width="17" height="17" alt="novinky1" /></a>   
      </div>  
      
     </div> 
     
     {literal}
      <script type="text/javascript">
jQuery(document).ready(function() {
    jQuery('#mycarousel').jcarousel({
        // Configuration goes here
    });
});
</script>
     {/literal}
     
     {if $item.fotogalerie}
      <ul id="mycarousel" class="jcarousel-skin-tango">
   <!-- The content goes in here -->

     {foreach name=photos from=$item.fotogalerie key=key item=item2}
       <li>  <a href="{$item2.photo_detail}" title="{$item2.nazev}" data-lightbox="image-1">
     <img src="{$item2.photo}" width="205" height="157" alt="fotogalerie" />
     </a> </li>
     {/foreach}
      </ul>
     {/if}
         
 
    </div>   



                              </div>