 <div id="submenu-left">
      
     {widget name="nav" controller="catalog" action="second_subnav"}        

    </div> 
    

      <div class="prodejny-right">
     
     <h1>{$item.nazev}</h1>    <br />
  
       
      <a href="{$item.photo_detail}" title="{$item.nazev}"  data-lightbox="image-1"><img src="{$item.photo}" width="461" height="296" alt="{$item.nazev}" /></a> <br />   <br />
            
        {$item.uvodni_popis} <br />
        {$item.popis}
            
             
       <br />
       <br />
       {widget action="show" controller="contact"}
    </div>
    
    

     <div class="clear">
    
  </div> 
  <br /><br /><br /><br /><br />