
 <div class="content-produkty">
        <ul>
        
        {foreach from=$items key=key item=item name=catg} 
        <a href="{$item.nazev_seo}" title="{$item.nazev}">
         <li>
          <div class="produkty">
     
              <img src="{$item.photo}" width="186" height="87" alt="{$item.nazev}" />
              <div {if $item.nazev|count_characters < 12}class="produkt-nazev"{else}class="produkt-dlouhy-nazev"{/if}>
                <a href="{$item.nazev_seo}" title="{$item.nazev}">{$item.nazev}</a>
              </div>

              {$item.uvodni_popis}
          </div>
          <div class="content-produkty-vse"> 
            <a href="{$item.nazev_seo}" title="{$item.nazev}">
              <span>Více </span>
              <img src="{$media_path}img/sipka.png" width="17" height="17" alt="{$item.nazev}" />
            </a>   
          </div> 
  
          </li>
          </a>
          {if $smarty.foreach.catg.iteration mod 3 == 0}
            </ul>
   </div> 
        <div class="content-produkty">
        <ul>
          {/if}
          
          {/foreach}
            </ul>
   </div> 
               <div class="clear">
                 
               </div>
                       <br /><br /><br /><br /><br />       