<div id="seznam-produktu-submenu">
   
    <div id="submenu-left">
      
     {widget name="nav" controller="catalog" action="second_subnav"}        

    </div> 
        

      <div class="prodejny-right">
     
           
     <h1>{$item.nazev}</h1>   <br />    
        
       
       <p>{$item.uvodni_popis}</p> <br />
       <p>{$item.popis}</p> 

    </div>

 
   
   

                   
    <div class="prodejny-right">
             
    {foreach from=$products name=catg key=key item=item}      
            
     <div class="novinky-obr">        
      <a href="{$item.nazev_seo}" title="{$item.nazev}"><img src="{$item.photo_detail}" width="204" height="157" alt="produkty" /></a> <br />                 
     <a href="{$item.nazev_seo}" title="{$item.nazev}"><span>{$item.nazev}</span></a>
     </div>       
      
      {if $smarty.foreach.catg.iteration mod 3 == 0 && !$smarty.foreach.catg.last}
        </div>


     
   <br /> <br /> 
   

                   
    <div class="prodejny-right">  
   
      {/if}  
    
     {/foreach}
 
    </div>


     
   <br /> <br />   
   
  <div class="clear">
    
  </div> 
  <br /><br /><br /><br /><br />
 </div>  
  
  <div id="spodni-odsazeni">    
 </div>