    <div class="formular">
       <h3>Kontaktní formulář</h3>   <br />
          <form action="" class="modal-form" method="post"> 
          
          <div class="plevy">
          {form_input name="contactform.jmeno" label="Jméno a příjmení <span>*</span> <br />" size="25" data=$data errors=$errors}
         <!--
            Jméno a příjmení <span>*</span> <br />
          <input type="text" name="x" size="25" />
         -->
          </div>
          
          <div class="ppravy">
          {form_input name="contactform.email" label="E-mail <span>*</span>  <br />" data=$data errors=$errors }
          </div>
                    
          <div class="ppravy">
            <br />
          {form_input name="contactform.telefon" label="Telefon <span>*</span> <br />" data=$data errors=$errors }
          </div>
 
          <div class="ppravy-odsazeni"><br />Text zprávy <span>*</span>
          </div>


          <div class="ptext">
          {form_textarea name="contactform.text" cols="70" rows="5" data=$data errors=$errors } 

          </div>
             
         {* <div>Pro odeslání vyplňte kód (<span>*</span>): SPAM KÓD <input type="text" name="x" size="5" /></div>  *}
          
           <div>  
          Položky označené <span>*</span> jsou povinné!
          </div>  
          <div class="button">
          {hana_secured_post action="send" module="contact"}
          <input type="submit" name="submit" value="ODESLAT" class="submit" />
          </div>             
                            
                   

</form>
    </div>