{* sablona pro detail novinky) *}


<div id="container">	
			<!-- page content -->
			<div class="page-content 2columns row fg-no-gutter">
				
				<!-- gallery detail -->
				<div class="gallery-detail">
				<h1>{$page.nazev}</h1>  <br />
     {$page.popis}
      <div id="banner-fade">
				  <ul class="bjqs">
            {foreach name=art from=$gallery key=key item=item2}    
    

    <li><a href="{$item2.photo_detail}" title="{$item2.nazev}" data-lightbox="image" >
     <img src="{$item2.photo_big}" alt="fotogalerie" width="900" />
      </a>
       </li>
    {/foreach}
    </ul> 
    </div>
        	
				</div>
				<!-- end gallery detail -->			
		
			</div>
			<!-- end page content -->
			
			{literal}
			  <script class="secret-source">
        jQuery(document).ready(function($) {

          $('#banner-fade').bjqs({
            height      : 538,
            width       : 850,
            responsive  : true
          });

        });
      </script>
			{/literal}
			

</div>      
 




