{* sablona seznamu clanku*}


			
			<!-- page content -->
			<div class="page-content 2columns row fg-no-gutter">
				
				<!-- hp gallery -->
				<div class="gallery">
					<h1>{$page.nazev}</h1>
					<div class="wrapper row fg-no-gutter">
					{foreach name=art from=$items key=key item=item} 
						<div class="item">
							<h2>{$item.nazev}</h2>
							<a href="{$item.nazev_seo}" title="{$item.nazev}">
							{foreach name=photo from=$item.fotogalerie key=key item=item2}
              {if $smarty.foreach.photo.first} 
              <img src="{$item2.photo}" width="470" height="200" alt="{$item.nazev}" />
               {/if}
              {/foreach}
              </a>
							<div class="shadow-corner-right-small"> </div>
						</div>
						{/foreach}
					  <div class="clear">
         
       </div>
					</div>
				</div>
				<!-- end hp gallery -->			
		
			</div>
			<!-- end page content -->
			
