 
 <h3>V příloze naleznete seznam všech uzavřených objednávek pro tento týden.</h3> 
{* 
 <ul>
 {foreach item=item key=k name=iter from=$orders}
    <li><a href="{$server}/admin/product/order/preview/1/{$item.id}" title="Kliknutím zobrazíte detail objednávky">Objednávka s id {$item.id}</a></li>
 {/foreach}
 </ul> *} 