{* sablona emailu s informacemi z odeslaneho kontaktniho formulare *}
<table>
  <tr>
    <td>Jméno</td>
    <td>{$data.dotaz_jmeno}</td>
  </tr>
  <tr>
    <td>Telefon</td>
    <td>{$data.dotaz_telefon}</td>
  </tr>
  <tr>
    <td>E-mail</td>
    <td>{$data.dotaz_email}</td>
  </tr>
  <tr>
    <td>Firma</td>
    <td>{$data.dotaz_firma}</td>
  </tr>
  <tr>
    <td>URL:</td>
    <td>{$data.nazev_produktu}</td>
  </tr>
  <tr>
    <td>Zpráva:</td>
    <td>{$data.text_dotazu}</td>
  </tr>
</table>