{* sablona hlavni navigace *}

<ul id="topnav">
  {foreach name=lnk from=$links key=key item=link}
  <li>
    <a href="{if $link.url}{$link.url}{else}{$url_base}{$link.nazev_seo}{/if}" {if !$link.nazev_seo}accesskey="2"{/if} tabindex="{$smarty.foreach.lnk.iteration+3}" {if array_key_exists($link.nazev_seo, $sel_links) || in_array($link.page_type, $sel_links) || ($link.nazev_seo=="" && $is_indexpage)}class="sel"{/if}{if $link.blank} target="_blank"{/if}>{$link.nazev}</a>

          {*<ul>
          {foreach from=$link.sublinks key=key2 item=link2 name=sublink}
          <li >
            <a href="{$url_base}{$link2.nazev_seo}" {if $link2.nazev_seo==$selected_link_seo.2.nazev_seo}class="sel "{/if} {if $smarty.foreach.sublink.last} class="last-li-nav"{/if} title="{$link2.nazev}">{$link2.nazev}</a>
          </li>
          {/foreach}
          </ul>*}
		  {*
          {if $link.products}
          <div class="sub">
          <ul>
            {foreach from=$link.products key=key2 item=link2 name=sublink}
              <li><h2>
              <a href="{$url_base}{$link2.nazev_seo}" {if $link2.nazev_seo==$selected_link_seo.2.nazev_seo}class="active"{/if} title="{$link2.nazev}">{$link2.nazev}</a>



            </h2></li>
            {foreach from=$link.products_sub key=key3 item=link3 name=sublink2}
                   {if $link2.id==$link3.parent_id}
                    <li>
                       <a href="{$url_base}{$link3.nazev_seo}" {if $link3.nazev_seo==$selected_link_seo.3.nazev_seo}class="active"{/if} title="{$link3.nazev}">{$link3.nazev}</a>
                    </li>
                    {/if}
                 {/foreach}
                 </ul><ul>
            {/foreach}
          <li></li>
          </ul>
          </div>
          {/if}
		  *}
  </li>
  {/foreach}
</ul>




