{* sablona pro generovani statickych stranek (modul: page) *}
<div class="product">
<p class="cart-message cmtype-added">Uživatel byl odhlášen</p>
    {literal}
    <script type="text/javascript">
    $(document).ready(function() {
    $(".cart-message").effect("highlight", {}, 2500,function(){$(".cart-message").hide();});
    });
    </script>
{/literal}
</div>
